.App-header {
  text-align: center;
  padding: 20px;
}

.search-bar {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

.upload-container {
  margin: 20px 0;
}

.upload-label {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
}

.file-input {
  display: none;
}